<section class="snackbars">
  @for (message of messages; track message.title; let idx = $index) {
    <div [ngClass]="message.type" class="snackbar">
      <div [ngClass]="message.type" class="snackbar--icon">
        @switch (message.type) {
          @case ("success") {
            <div class="snackbar--icon--icon">
              <span class="pi pi-check-circle"></span>
            </div>
          }
          @case ("error") {
            <span class="pi pi-times-circle"></span>
          }
          @case ("warning") {
            <span class="pi pi-exclamation-triangle"></span>
          }
          @case ("info") {
            <span class="pi pi-info-circle"></span>
          }
        }
      </div>
      <div class="snackbar--message">
        <span class="snackbar--message--title">{{ message.title }}</span>
        <span class="snackbar--message--subtitle">{{ message.subtitle }}</span>
      </div>
      @if (message.undoable) {
        <div class="snackbar--separator"></div>
        <div (click)="undoMessage(idx)" (keydown)="onKeydown($event, 'undo', idx)"
             class="snackbar--undo"
             tabindex="1">
          Undo
        </div>
      }
      <div (click)="closeMessage(idx)" (keydown)="onKeydown($event, 'close', idx)" [ngClass]="message.type"
           class="snackbar--close"
           tabindex="0">
        <!-- Bouton Fermer -->
        <span class="pi pi-times"></span>
      </div>
      @if (message.duration) {
        <div class="snackbar--progress">
          <p-progressBar [color]="colorProgressBar(message)"
                         [style]="{height: '5px'}"
                         [value]="getProgressBarWidth(message)"
                         [showValue]="false"></p-progressBar>
        </div>
      }
    </div>

  }

</section>
