<main>
  <div class="h-v-c flex-col">
    <div class="title-error">
      503
    </div>
    <div class="description-error">
      Oops ! Vous avez tenté d'entrer dans la zone interdite…
    </div>
    <div class="info-error">
      Désolé, vous n'avez pas les clés pour cette porte secrète ! 🛑
      Si vous pensez que c'est une erreur, contactez notre super équipe technique, sinon… peut-être qu'un café vous
      aidera à repartir du bon pied ! ☕
    </div>
    <div class="redirect-error">
      <button mat-button>{{ 'error.returnHome' | translate }}</button>
    </div>
  </div>
</main>
