@import url('https://fonts.googleapis.com/css2?family=Bungee+Inline&family=Bungee+Shade&family=Jura:wght@300..700&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Quicksand:wght@300..700&family=Sixtyfour+Convergence&display=swap')

.app--sidenav
  width: 0
  opacity: 0
  padding: 0
  visibility: hidden
  height: 100vh
  border-right: 1px solid var(--p-content-border-color)
  background-color: var(--p-primary-contrast-color)
  overflow: hidden
  transition: width 0.1s ease 0.1s, visibility 0.1s ease, opacity 0.1s ease, padding 0.1s ease 0.1s
  font-optical-sizing: auto
  font-style: normal
  position: absolute

  .app--sidenav--lock
    position: absolute
    top: 1rem
    background-color: #303030
    border-radius: 50%
    block-size: .5rem
    box-shadow: 0 0 0 3px #cccccc
    inline-size: .5rem
    inset-inline-end: 1rem
    cursor: pointer

    &.active
      background-color: var(--p-primary-active-color)
      box-shadow: 0 0 0 3px var(--p-highlight-background)

  .app--sidenav--title
    text-align: center
    font-size: 25px
    margin-bottom: 1.5rem
    font-family: var(--app-category-fontFamily)
    font-weight: var(--app-category-fontWeight)

  .app--sidenav--subtitle
    font-weight: bolder
    margin: 1.5rem 0 0.5rem 0
    font-family: var(--app-category-fontFamily)
    font-size: var(--app-category-fontSize)

  .p-divider
    &:last-child
      height: 0

  .p-divider-horizontal
    &:last-child:before
      border-block-start-style: none !important

.app--sidenav--open
  width: 15rem
  opacity: 1
  padding: 1.5rem
  visibility: visible

.app--sidenav--locked
  position: relative
