
.app--container
  height: 100vh
  width: 100vw
  position: relative
  display: flex

  .app--sidenav
    min-width: 5rem

  .app--content
    flex: 1
    display: flex
    flex-direction: column

    .app--header
      border-bottom: 1px solid var(--p-content-border-color)
      height: 75px
      display: flex
      align-items: center
      padding: 0 25px

      .app--header--app,
      .app--header--user
        flex-grow: 1
        display: flex
        align-items: center
        gap: 15px

      .app--header--user
        justify-content: flex-end

        .app--header--user--login
          height: 40px
          width: 40px
          display: flex
          justify-content: center
          align-items: center
          cursor: pointer
          background-color: var(--p-highlight-background)
          border-radius: 100%

          img
            border-radius: 100%
            width: 30px
            height: 30px
            object-fit: cover

    main
      flex-grow: 1
      background-color: var(--bg-secondary)

      .app--footer
        background-color: var(--p-primary-contrast-color)
        border-top: 1px solid var(--p-content-border-color)
