<main>
  <div class="theme-toggle">
    <mat-slide-toggle
      (change)="themeService.toogleTheme()"
      [checked]="isDarkTheme">
      Activer/Désactiver le thème sombre
    </mat-slide-toggle>
  </div>
  <label for="language-switch">Langue :</label>
  <select (change)="switchLanguage(currentLang)" [(ngModel)]="currentLang" id="language-switch">
    <option value="en">English</option>
    <option value="fr">Français</option>
  </select>

  <h1>{{ 'hello' | translate }}, {{ title }}</h1>

  <button (click)="showSuccess()">Afficher Succès</button>
  <button (click)="showError()">Afficher Erreur</button>
  <button (click)="showInfo()">Afficher Information</button>
  <button (click)="showWarning()">Afficher Avertissement</button>

  <app-loader></app-loader>
  <app-message></app-message>

  <router-outlet/>

</main>
