<main>
  <div class="h-v-c flex-col">
    <div class="title-error">
      404
    </div>
    <div class="description-error">
      Oups, page introuvable !
    </div>
    <div class="info-error">
      On dirait que vous avez pris un mauvais virage… La page que vous cherchez s’est échappée, comme un chat qui refuse
      de se laisser attraper ! 🐾
      Pas de panique, vous pouvez retourner à l'accueil ou partir à la chasse à l’info ailleurs !
    </div>
    <div class="redirect-error">
      <button mat-button>{{ 'error.returnHome' | translate }}</button>
    </div>

  </div>
</main>
