<section class="app--main--content flex flex-col gap-6">
  <div class="w-full flex flex-wrap justify-between">
    <p-card header="Simple Card">
      <p class="m-0">Lorem ipsum dolor sit amet...</p>
    </p-card>
    <p-card header="Simple Card">
      <p class="m-0">Lorem ipsum dolor sit amet...</p>
    </p-card>
    <p-card header="Simple Card">
      <p class="m-0">Lorem ipsum dolor sit amet...</p>
    </p-card>
    <p-card header="Simple Card">
      <p class="m-0">Lorem ipsum dolor sit amet...</p>
    </p-card>
  </div>
  <div class="w-full flex gap-6">
    <div class="flex-grow-2">
      <p-card header="Simple Card">
        <p class="m-0">Lorem ipsum dolor sit amet...</p>
      </p-card>
    </div>
    <div class="flex-grow-3">
      <p-card header="Simple Card">
        <p class="m-0">Lorem ipsum dolor sit amet...</p>
      </p-card>
    </div>
  </div>
  <div class="w-full flex gap-6">
    <p-card class="flex-grow-4" header="Simple Card">
      <p class="m-0">Lorem ipsum dolor sit amet...</p>
    </p-card>
    <p-card class="flex-grow-2" header="Simple Card">
      <p class="m-0">Lorem ipsum dolor sit amet...</p>
    </p-card>
  </div>
  <div class="w-full flex gap-6">
    <p-card class="flex-grow-4" header="Simple Card">
      <p class="m-0">Lorem ipsum dolor sit amet...</p>
    </p-card>
    <p-card class="flex-grow-2" header="Simple Card">
      <p class="m-0">Lorem ipsum dolor sit amet...</p>
    </p-card>
  </div>
  <div class="w-full flex gap-6">
    <p-card class="flex-grow-4" header="Simple Card">
      <p class="m-0">Lorem ipsum dolor sit amet...</p>
    </p-card>
    <p-card class="flex-grow-2" header="Simple Card">
      <p class="m-0">Lorem ipsum dolor sit amet...</p>
    </p-card>
  </div>
  <div class="w-full flex gap-6">
    <p-card class="flex-grow-4" header="Simple Card">
      <p class="m-0">Lorem ipsum dolor sit amet...</p>
    </p-card>
    <p-card class="flex-grow-2" header="Simple Card">
      <p class="m-0">Lorem ipsum dolor sit amet...</p>
    </p-card>
  </div>
</section>
