$carbon: #303030

// Notifications
$success: var(--p-emerald-800)
$success_secondary: var(--p-emerald-900)
$error: var(--p-red-900)
$error_secondary: var(--p-red-800)
$info: var(--p-cyan-800)
$info_secondary: var(--p-cyan-900)
$warning: var(--p-orange-800)
$warning_secondary: var(--p-orange-900)
