<div class="popover--shortcut">
  <div class="popover--shortcut--title h-">
    <span> Raccourcis</span>
    <ng-icon name="hugeAdd02"/>
  </div>
  <div class="popover--shortcut--list">
    <ng-scrollbar [buttons]="false">
      <div class="popover--shortcut--list--row">
        <a class="popover--shortcut--list--cell" href="#">
          <div class="popover--shortcut--list--cell--categorie text-sm">
            <ng-icon name="hugeAdd02"/>
            <span>My Categorie</span>
          </div>

          <div class="popover--shortcut--list--cell--page text-xs">
            My page
          </div>
        </a>
        <a class="popover--shortcut--list--cell" href="#">
          <div class="popover--shortcut--list--cell--categorie text-sm">
            <ng-icon name="hugeAdd02"/>
            <span>My Categorie</span>
          </div>

          <div class="popover--shortcut--list--cell--page text-xs">
            My page
          </div>
        </a>
      </div>
      <div class="popover--shortcut--list--row">
        <a class="popover--shortcut--list--cell" href="#">
          <div class="popover--shortcut--list--cell--categorie text-sm">
            <ng-icon name="hugeAdd02"/>
            <span>My Categorie</span>
          </div>

          <div class="popover--shortcut--list--cell--page text-xs">
            My page
          </div>
        </a>
        <a class="popover--shortcut--list--cell" href="#">
          <div class="popover--shortcut--list--cell--categorie">
            <ng-icon name="hugeAdd02"/>
            <span>My Categorie</span>
          </div>

          <div class="popover--shortcut--list--cell--page">
            My page
          </div>
        </a>
      </div>
      <div class="popover--shortcut--list--row">
        <a class="popover--shortcut--list--cell" href="#">
          <div class="popover--shortcut--list--cell--categorie text-sm">
            <ng-icon name="hugeAdd02"/>
            <span>My Categorie</span>
          </div>

          <div class="popover--shortcut--list--cell--page text-xs">
            My page
          </div>
        </a>
        <a class="popover--shortcut--list--cell" href="#">
          <div class="popover--shortcut--list--cell--categorie text-sm">
            <ng-icon name="hugeAdd02"/>
            <span>My Categorie</span>
          </div>

          <div class="popover--shortcut--list--cell--page text-xs">
            My page
          </div>
        </a>
      </div>
      <div class="popover--shortcut--list--row">
        <a class="popover--shortcut--list--cell" href="#">
          <div class="popover--shortcut--list--cell--categorie text-sm">
            <ng-icon name="hugeAdd02"/>
            <span>My Categorie</span>
          </div>

          <div class="popover--shortcut--list--cell--page text-xs">
            My page
          </div>
        </a>
        <a class="popover--shortcut--list--cell" href="#">
          <div class="popover--shortcut--list--cell--categorie text-sm">
            <ng-icon name="hugeAdd02"/>
            <span>My Categorie</span>
          </div>

          <div class="popover--shortcut--list--cell--page text-xs">
            My page
          </div>
        </a>
      </div>
    </ng-scrollbar>
  </div>


</div>
